<div class="animated fadeIn">

  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-12 column">
      <div class="card">
        <h5 class="card-header">Honest Flight Search</h5>
        <div class="card-body">

          <div class="row">
            <div class="col-md-6 column">

              <div class="card mb-3">
                <h5 class="card-header"><i class="fa fa-plane"></i>Where do you want to go?</h5>
                <div class="card-body">

                  <label for="departure">Choose your departure city / airport</label>
                  <div class="input-group">
                    <select class="custom-select" id="departure" formControlName="departureCity">
                      <!--               <option ng-repeat="a in vm.airports" value="{{a.code}}">{{a.name}}</option>-->
                      <option>Dummy</option>
                    </select>
                  </div>
                  <div *ngIf="departureCity.invalid && (departureCity.dirty || departureCity.touched)"
                       class="invalid-feedback">

                    <div *ngIf="departureCity.errors.required">
                      Departure is required.
                    </div>

                  </div>

                  <label for="destination">Choose your destination city / airport</label>
                  <div class="input-group">
                    <select class="custom-select" id="destination" formControlName="destinationCity">
                      <!--              <option ng-repeat="a in vm.airports" value="{{a.code}}">{{a.name}}</option>-->
                      <option>Dummy</option>
                    </select>
                  </div>

                </div>
              </div>

            </div>

            <div class="col-md-6 column">
              <div class="card">
                <h5 class="card-header"><i class="fa fa-calendar-o"></i>
                  When do you need to travel?</h5>
                <div class="card-body">

                  <div class="form-group form-row">
                    <label for="DEPD" class="col-md-4">Departing</label>
                    <div class="col-md-8">
                      <p class="input-group">
                        <input id="DEPD" type="date" class="form-control"
                               formControlName="departureDate" />
                      </p>
                    </div>
                  </div>

                  <div class="form-group form-row">
                    <label class="col-md-4">Returning flight?</label>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="ret" id="retYes" value="YES">
                      <label class="form-check-label" for="retYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="ret" id="retNo" value="NO">
                      <label class="form-check-label" for="retNo">No</label>
                    </div>


                  </div>

                  <div class="form-group form-row">
                    <label for="RETD" class="col-md-4">Returning</label>
                    <div class="col-md-8">
                      <p class="input-group">
                        <input id="RETD" type="date" class="form-control"
                               formControlName="returningDate" />
                      </p>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 column">
              <div class="card">
                <h5 class="card-header"><i class="fa fa-users"></i>How many people are travelling?</h5>
                <div class="card-body">

                  <div class="form-group form-row">
                    <label for="adt" class="col-md-8">adults (12 years or older)</label>
                    <div class="col-md-4">
                      <select class="custom-select" id="ADT" formControlName="adt">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group form-row">
                    <label for="CHD" class="col-md-8">children (2-11 years)</label>
                    <div class="col-md-4">
                      <select class="custom-select" id="CHD" formControlName="chd">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>


                  <div class="form-group form-row">
                    <div class="col-md-8">
                      <label for="INF">baby's (0-23 months)</label>
                    </div>
                    <div class="col-md-4">
                      <select class="custom-select" id="INF" formControlName="inf">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 column">
              <div class="card">
                <h5 class="card-header"><i class="fa fa-ticket"></i>What ticket class would you prefer?</h5>
                <div class="card-body">
                  <div class="form-group form-row">
                    <label for="FARETYPE" class="col-md-4">Select class</label>
                    <div class="col-md-8">
                      <select class="form-control" id="FARETYPE" formControlName="faretype">
                        <option value="FIRST">Business</option>
                        <option value="BESTPRICE" selected>Economy</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>




          <div class="widget-foot">
            <div class="clearfix">
              <button type="submit" class="btn btn-primary btn-default" name="submit">Continue</button>
              <button type="cancel" class="btn btn-secondary ">Cancel</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  </form>
  <p>
    Form Status: {{ searchForm.status }}
  </p>
</div>
