<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">

            <div class="card p-4">
              <div class="card-body">

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #frm="ngForm">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>

                  <alert></alert>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" id="clubnumber" class="form-control"
                           [class.is-invalid]="f.clubnumber.invalid"
                           [class.is-valid]="f.clubnumber.valid"
                           placeholder="Club number" autocomplete="username" formControlName="clubnumber" required>


                  </div>
                  <div *ngIf="f.clubnumber.invalid">
                    <div *ngIf="f.clubnumber.errors.required && frm.submitted" class="alert alert-danger">
                      Please fill out your Fresh & Honest Club number.
                    </div>
                  </div>


                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" id="password" class="form-control" placeholder="Password" autocomplete="current-password" formControlName="password" required>
                  </div>
                  <div *ngIf="f.password.invalid">
                    <div *ngIf="f.password.errors.required && frm.submitted" class="alert alert-danger">
                      Please fill out your password.
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-primary px-4" type="submit" name="submit">Login</button>
                    </div>

                  </div>
                </form>

              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </main>
</div>
