<div id="top">
  <div class="top-panel">
    <div class="top-panel-inner">
      <ul class="top-menu pull-right">
        <li class="top-menu-item">
          <a id="inProgressLink" (click)="showInProgress()">Working on</a>
          <span class="caret"></span>
        </li>
        <li class="top-menu-item">
          <a>USERNAME</a>
          <span class="caret"></span>
        </li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="top-section text-ppp">
    Testmanager
  </div>
</div>

<div id="header">
  <ul class="header-menu">
    <li class="header-menu-item header-menu-item-right">
      <a tabindex="-1" href="/admin/overview">Administration</a>
    </li>

    <li class="header-menu-item header-menu-item-selected">
      <a tabindex="-1" href="/dashboard">Dashboard</a>
    </li>
  </ul>
</div>

<div id="separator"></div>

<div id="body-container">
  <div id="body" class="table" style="display: table">
    <div id="content" class="content column">

      <div class="content-header content-header-default">
        <div class="content-header-inner">
          <span class="content-header-icon" [ngClass]="{'selected': compact_view}">
            <a class="link-tooltip" tooltip-header="Compact View"
               tooltip-text="Displays the active projects as a compact list. Useful if you have many projects."
               (click)="selectCompactList()">
              <img src="/assets/images/icons/text_list_bullets.png">
            </a>
          </span>
          <span class="content-header-icon" [ngClass]="{'selected': !compact_view}">
            <a (click)="selectDetailList()">
              <img src="/assets/images/icons/text_dropcaps.png">
            </a>
          </span>
          <div class="content-header-title">
            All projects
          </div>
        </div>
      </div>

      <div id="content-inner" class="content-inner">
        <h1 class="top">Projects</h1>

        <!-- If favs -->
        <div id="favs" class="hidden">

          <!-- detail view -->
          <div class="table summary summary-auto">
          </div>

        </div>

        <!-- Active -->
        <h2 id="activeHeader" class="hidden">Active</h2>

        <div class="table summary summary-auto">


          <div class="row project" id="project-1">
            <div class="column summary-column summary-column-icon">
              <img src="/assets/images/app/project64.png" alt="" height="64" width="64"/>
            </div>
            <div class="column summary-column">
              <div class="summary-title text-ppp"
                   style="position: relative; padding: 1px 0 1px 0"
              >
                <span style="position: absolute; top: -1px">
                  <a id="project-starred-1"
                     class="starred link-tooltip"
                     tooltip-text="Remove from project favorites."
                     style="display: none"
                  ></a>
                  <a id="project-star-1"
                     class="unstarred link-tooltip"
                     tooltip-text="Mark as project favorite."
                  ></a>
                </span>
                <a href="/projects/overview/1" style="padding-left: 25px">Project A</a>

              </div>
              <div class="summary-links text-secondary">
                <a class="link" href="/todos/overview/1">Todos</a> |
                <a class="link" href="/milestones/overview/1">Milestones</a> |
                <a class="link" href="/runs/overview/1">Test Runs</a> |
                <a class="link" href="/suites/view/1">Test Cases</a> |
                <a class="link" href="/reports/overview/1">Reports</a>
              </div>
              <div class="summary-description">
                Contains <strong>0</strong> active test runs and
                <strong>0</strong> active milestones.
              </div>
              <div class="hidden details summary-expand">
              </div>
            </div>
            <div class="column summary-column summary-column-toggle">
            </div>
          </div>
        </div>

      </div>

    </div>

    <div id="qpane-splitter" class="column splitter qpane-splitter" style="display: none"></div>

    <div id="qpane" class="column qpane"></div>

    <div id="sidebar-splitter" class="column splitter sidebar-splitter"></div>

    <div id="sidebar" class="column sidebar">
      <div class="sidebar-inner">
        <a href="/admin/projects/add" class="sidebar-button">Add Project</a>
      </div>
    </div>

  </div>


</div>


<div id="userDropdown" class="dropdown dropdown-menu user-menu" rel="helpMenu" style="width: 125px">
  <ul>
    <li>
      <a class="dropdown-menu-link" href="/mysettings">My Settings</a>
    </li>
    <li>
      <a class="dropdown-menu-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</div>
